### Project Specific ###
.env
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### SASS ###
.sass-cache/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Maven ###
/log/
/target/

### Package Files ###
*.jar
*.war
*.ear
*.db

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse ###
*.pydevproject
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
/src/main/resources/rebel.xml

### External tool builders ###
.externalToolBuilders/**

### Locally stored "Eclipse launch configurations" ###
*.launch

### CDT-specific ###
.cproject

### PDT-specific ###
.buildpath

### Directories ###
/bin/
/deploy/

### Logs ###
*.log

### Others ###
*.class
*.*~
*~
.merge_file*