<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Witchub</title>

    <!-- CSS only -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">-->
</head>


<body>

<!-- navbar -->
<!--<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-theme1">-->
<!--    <a th:href="@{/}" class="ml-2 pr-2 mr-4 quicksand navbar-brand font-weight-bold font-size-2">Witchub</a>-->
<!--    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" area-expanded="false" aria-label="Toggle navigation" name="button">-->
<!--        <i class="fas fa-bars navbar-hamburger-icon"></i>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarContent">-->
<!--        <ul class="navbar-nav justify-content-center mr-auto ml-2">-->
<!--            <li class="nav-item active  mr-3">-->
<!--                <a class="nav-link quicksand font-weight-bold text-white" th:href="@{/}">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item mr-3">-->
<!--                <a class="nav-link quicksand font-weight-bold text-white" th:href="@{/products}">Products</a>-->
<!--            </li>-->
<!--            <li class="nav-item mr-3">-->
<!--                <a class="nav-link quicksand font-weight-bold text-white" th:href="@{/FAQ}">FAQs</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav justify-content-end ml-auto">-->
<!--            <li class="nav-item ml-2 mr-2" th:if="not ${loginStatus}">-->
<!--                <a th:href="@{/login}" class="nav-link quicksand font-weight-bold text-white">Login</a>-->
<!--            </li>-->
<!--            <li class="nav-item ml-2 mr-4" th:if="not ${loginStatus}">-->
<!--                <a th:href="@{/register}" class="nav-link quicksand font-weight-bold text-white">Register</a>-->
<!--            </li>-->
<!--            <li class="nav-item ml-2 mr-4" th:if="${loginStatus}">-->
<!--                <a th:href="@{/self}" class="nav-link quicksand font-weight-bold text-white">Profile</a>-->
<!--            </li>-->
<!--            <li class="nav-item ml-2 mr-4" th:if="${loginStatus}">-->
<!--                <a th:href="@{/logout}" class="nav-link quicksand font-weight-bold text-white">Logout</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--<nav>-->
    <div class="header-background">
        <div th:fragment="homeNavbar" id="nav" class="sticky-nav">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
<!--                <div class="container">-->
                    <img th:src="@{/assets/logo.jpg}" alt="" width='50px' style="display: inline; text-align: center; padding: 1px">

                    <a class="navbar-brand" th:href="@{/}">Witchub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Products
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#new_arrivals">New Arrivals</a></li>
                                    <li><a class="dropdown-item" href="#best_seller">Best Seller</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#all_products">All Products</a></li>
                                </ul>
                            </li>

<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="#">FAQs</a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contacts">Contact Us</a>
                            </li>

                            <li class="nav-item" th:if="not ${loginStatus}">
                                <a class="nav-link" th:href="@{/signup}">Signup</a>
                            </li>
                            <li class="nav-item" th:if="not ${loginStatus}">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>

<!--                            <li class="nav-item" th:if="${loginStatus}">-->
<!--                                <a class="nav-link" href="#">Wishlist</a>-->
<!--                            </li>-->
                            <li class="nav-item" th:if="${loginStatus}">
                                <a class="nav-link" th:href="@{/cart}">Cart</a>
                            </li>
<!--                            <li class="nav-item" th:if="${loginStatus}">-->
<!--                                <a class="nav-link" th:href="@{/buyerProfile}">Profile</a>-->
<!--                            </li>-->
                            <li class="nav-item" th:if="${loginStatus}">
                                <a class="nav-link" th:href="@{/logout}">Logout</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        <h1 class="heading">W I T &nbsp;&nbsp; H U B</h1>
    </div>

    <div class="new-arrivals" id="new_arrivals" style="padding-top: 50px">
        <h1>New Arrivals</h1>
        <hr class="bg-light mx-5"/>

        <div class="container">
<!--            <img th:src="@{assets/logo.jpg}" class="card-img-top" alt="">-->
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" th:each="product: ${products}">
                    <a style="text-decoration: none; color: black; font-weight: 300" th:href="@{/product(productId=${product.getProductId()})}">
                    <div class="card h-100">
                        <div class="card-img">
                            <img th:src="@{${product.getImage()}}" class="card-img-top" th:alt="${product.getImage()}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.getTitle()}"></h5>
                            <p class="card-text">Rs. <span th:text="${product.getPrice()}"></span>
<!--                            <h5 class="card-title">Stars</h5>-->
<!--                            <p class="card-text">Rs. 100-->
                                <span>
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
                                    <a style="color: black" th:href="@{cart/addProduct(productId=${product.getProductId()})}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b21.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Flowers</h5>-->
<!--                            <p class="card-text">Rs. 499-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b19.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Moon</h5>-->
<!--                            <p class="card-text">Rs. 399-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b18.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Stones</h5>-->
<!--                            <p class="card-text">Rs. 899-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b24.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Stay</h5>-->
<!--                            <p class="card-text">Rs. 999-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b11.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Ocean</h5>-->
<!--                            <p class="card-text">Rs. 849-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b8.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Purple</h5>-->
<!--                            <p class="card-text">Rs. 1899-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/b4.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Circles</h5>-->
<!--                            <p class="card-text">Rs. 759-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->



<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <img th:src="@{assets/b21.jpg}" class="card-img-top" alt="">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">This is a short card.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <img th:src="@{assets/b21.jpg}" class="card-img-top" alt="">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <img th:src="@{assets/b21.jpg}" class="card-img-top" alt="">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <img th:src="@{assets/b21.jpg}" class="card-img-top" alt="">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

    </div>

<div class="new-arrivals" id="best_seller" style="padding-top: 100px">
    <h1>Best Seller</h1>
    <hr class="bg-light mx-5"/>

    <div class="container">
        <!--            <img th:src="@{assets/logo.jpg}" class="card-img-top" alt="">-->
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-img">
                        <img th:src="@{assets/c1.jpg}" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Heart</h5>
                        <p class="card-text">Rs. 49
                            <span>
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-img">
                        <img th:src="@{assets/c2.jpg}" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Love</h5>
                        <p class="card-text">Rs. 99
                            <span>
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-img">
                        <img th:src="@{assets/c3.jpg}" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Cups</h5>
                        <p class="card-text">Rs. 3999
                            <span>
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-img">
                        <img th:src="@{assets/c4.jpg}" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Green</h5>
                        <p class="card-text">Rs. 299
                            <span>
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="new-arrivals" id="all_products" style="padding-top: 100px">
        <h1>All Products</h1>
        <hr class="bg-light mx-5"/>

        <div class="container">
            <!--            <img th:src="@{assets/logo.jpg}" class="card-img-top" alt="">-->
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" th:each="product: ${products}">
                    <div class="card h-100">
                        <div class="card-img">
                            <img th:src="@{${product.getImage()}}" class="card-img-top" th:alt="${product.getImage()}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.getTitle()}"></h5>
                            <p class="card-text">Rs. <span th:text="${product.getPrice()}"></span>
                                <!--                            <h5 class="card-title">Stars</h5>-->
                                <!--                            <p class="card-text">Rs. 100-->
                                <span>
<!--                                    <i class="fas fa-star"></i>-->
                                    <!--                                    <i class="fas fa-heart"></i>-->
                                    <a style="color: black" th:href="@{cart/addProduct(productId=${product.getProductId()})}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/c1.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Heart</h5>-->
<!--                            <p class="card-text">Rs. 49-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/c2.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Love</h5>-->
<!--                            <p class="card-text">Rs. 99-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d3.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Building</h5>-->
<!--                            <p class="card-text">Rs. 199-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d4.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Eye</h5>-->
<!--                            <p class="card-text">Rs. 299-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d5.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Abstract</h5>-->
<!--                            <p class="card-text">Rs. 149-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d6.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Hands</h5>-->
<!--                            <p class="card-text">Rs. 599-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d7.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Peepal</h5>-->
<!--                            <p class="card-text">Rs. 159-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d8.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Hanging</h5>-->
<!--                            <p class="card-text">Rs. 999-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/c5.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Leaves</h5>-->
<!--                            <p class="card-text">Rs. 149-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/d2.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Hut</h5>-->
<!--                            <p class="card-text">Rs. 1899-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/c7.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Peepal</h5>-->
<!--                            <p class="card-text">Rs. 1759-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-img">-->
<!--                            <img th:src="@{assets/c8.jpg}" class="card-img-top" alt="">-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Mosaic</h5>-->
<!--                            <p class="card-text">Rs. 2999-->
<!--                                <span>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-heart"></i>-->
<!--                                    <i class="fas fa-shopping-cart"></i>-->
<!--                                </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

<div class="new-arrivals" id="about" style="padding-top: 100px">
    <h1>About</h1>
    <hr class="bg-light mx-5"/>
    <h4 style="padding: 0 150px 300px 150px; font-weight: lighter">
    Ms Kamalvanshi is a young, creative and emerging artist, lives in Lucknow,
    Uttar Pradesh.<br>Her passion for life is nothing but just art. It’s a God given gift to her which
    she wants to celebrate with as many people as possible. To incorporate this, she wants to
    make an online presence and also collect like-minded artists like her. And here we land with this
    amazing website. Explore as you like. Happy purchase!
    </h4>
</div>

<!-- important links -->
<div id="contacts" th:fragment="bottom-display" class="mt-5 bg-bottom" style="background: rgba(107, 15, 59, 0.92)">
    <div class="container text-center text-white pt-5 pb-3">
        <h1 class="font-weight-bold">Witchub</h1>

        Inspired from Nature, We Create for You

        <br><br><br>
        <div class="pt-2 pb-1">+918667392173</div>
        <div class="pt-2 pb-1">witchie.which@witchub.com</div>
        <i class="fab fa-facebook-f p-2"></i>
        <i class="fab fa-twitter p-2"></i>
        <i class="fab fa-linkedin-in p-2"></i>
        <i class="fab fa-pinterest-p p-2"></i>
        <br />
        <hr class="bg-light mx-5"/>
        <p class="pt-3">
            Copyright &copy 2021 Witchub, All rights reserved, <a th:href="@{#}">View TnC</a>
        </p>
    </div>
</div>


<!-- fontawesome script -->
    <script th:src="@{https://kit.fontawesome.com/1f4b1ad491.js}" crossorigin="anonymous"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js}" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js}" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>